<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- Css -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="main-header">
        <div>
            <a href="/"><img class="logo" src="/img/logo-mercado-liebre.svg" alt="Logo">
            </a>
            
            <form>
                <input type="search" placeholder="Buscar productos, marcas">
                <button type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>

            <p><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito </p>
        </div>

        <nav>
            <ul class="site">
                <li><a href="/">Ofertas</a></li>
                <li><a href="/">Tiendas Oficiales</a></li>
                <li><a href="/">Vender</a></li>
                <li><a href="/">Ayuda</a></li>
            </ul>

            <ul class="login-navbar">
                <li><a href="/signup">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="/">Mis compras <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
            <div class="burger-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
        </nav>
        <img src="/img/img-home-banner.jpg" alt="banner">
    </header>
    <main>
        <section>
            <header>
                <h2>Basado en tu ultima visita</h2>
            </header>
            <div class="products">
                <article>
                    <img class="product" src="/img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                    <div class="content">
                        <i class="fa-solid fa-truck"></i>
                        <div class="price-and-discount-content">
                            <p class="price">$6.770</p>
                            <p class="discount">40% OFF</p>
                        </div>
                        <h4 class="description">Cafetera Moulinex</h4>
                    </div>
                </article>

                <article>
                    <img class="product" src="/img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                    <div class="content">
                        <i class="fa-solid fa-truck"></i>
                        <div class="price-and-discount-content">
                            <p class="price">$230.000</p>
                            <p class="discount">20% OFF</p>
                        </div>
                        <h4 class="description">MacBook Pro 2019</h4>
                    </div>
                </article>

                <article>
                    <img class="product" src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                    <div class="content">
                        <i class="fa-solid fa-truck"></i>
                        <div class="price-and-discount-content">
                            <p class="price">$70.500</p>
                            <p class="discount">10% OFF</p>
                        </div>
                        <h4 class="description">Samsung Galaxy S10</h4>
                    </div>
                </article>

                <article>
                    <img class="product" src="/img/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43'">
                    <div class="content">
                        <i class="fa-solid fa-truck"></i>
                        <div class="price-and-discount-content">
                            <p class="price">$23.200</p>
                            <p class="discount">5% OFF</p>
                        </div>
                        <h4 class="description">SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section>
        <section>
            <header>
                <h2>Ofertas</h2>
            </header>
            <div class="products">

                <article>
                    <img class="product" src="/img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                    <div class="content">
                        <i class="fa-solid fa-truck"></i>
                        <div class="price-and-discount-content">
                            <p class="price">$6.770</p>
                            <p class="discount">40% OFF</p>
                        </div>
                        <h4 class="description">Cafetera Moulinex</h4>
                    </div>
                </article>

                <article>
                    <img class="product" src="/img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                    <div class="content">
                        <i class="fa-solid fa-truck"></i>
                        <div class="price-and-discount-content">
                            <p class="price">$230.000</p>
                            <p class="discount">20% OFF</p>
                        </div>
                        <h4 class="description">MacBook Pro 2019</h4>
                    </div>
                </article>

                <article>
                    <img class="product" src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                    <div class="content">
                        <i class="fa-solid fa-truck"></i>
                        <div class="price-and-discount-content">
                            <p class="price">$70.500</p>
                            <p class="discount">10% OFF</p>
                        </div>
                        <h4 class="description">Samsung Galaxy S10</h4>
                    </div>
                </article>

                <article>
                    <img class="product" src="/img/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43'">
                    <div class="content">
                        <i class="fa-solid fa-truck"></i>
                        <div class="price-and-discount-content">
                            <p class="price">$23.200</p>
                            <p class="discount">5% OFF</p>
                        </div>
                        <h4 class="description">SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <div class="card-container">
            <div>
                <i class="fa-solid fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>

            <div>
                <i class="fa-solid fa-gift"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>

            <div>
                <i class="fa-solid fa-user-shield"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </div>

        <p class="copyright">Copyright &copy; 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>