:root {
    --yellow: #EAC926;
    --blue: #03264C;
    --ligth-blue: #3483fa;
    --dark-blue: #0022AA;
    --dark-gray: #667;
    --light-gray: #ebebeb;
    --green: #39b54a;
    --black: #202023;
    --white: #fff;
    --red: #f23d4f;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: var(--black);
    background-color: var(--light-gray);
}


.main-header {
    background-color: var(--yellow);
    margin-bottom: 1rem;
}

.main-header div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
}

.main-header div p {
    margin-bottom: 1rem;
}

.logo {
    width: 150px;
}

.main-header form {
    width: 40%;
}

.main-header form input[type="search"] {
    padding: .5rem;
    border: none;
    border-radius: .5rem;
    width: 70%;
}

.main-header form button[type="submit"] {
    border: none;
    background-color: var(--white);
    padding: .5rem;
    border-radius: .5rem
}

nav>ul {
    list-style: none;
    padding-left: 0;
    padding-top: 16px;
}

nav>ul>li a {
    text-decoration: none;
    color: var(--black);
}

.burger-menu {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    width: fit-content;
    padding: 1rem;
    background-color: var(--ligth-blue);
    border-radius: .5rem;
}

.fa-solid.fa-bars {
    color: var(--white);
    font-size: 1rem;
}

.fa-solid.fa-credit-card,
.fa-solid.fa-gift,
.fa-solid.fa-user-shield {
    color: var(--ligth-blue);
    display: block;
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
}

.login-navbar,
.site {
    display: none;
}

main {
    flex: 1;
}

footer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 1rem;
}

footer .card-container div>* {
    text-align: center;
}

footer .card-container div h4 {
    margin-bottom: 1rem;
}

footer .card-container>div {
    margin-bottom: 1rem;
    background-color: var(--white);
    padding: 1rem;
    border-radius: .5rem;
}

footer .copyright {
    margin-bottom: 1rem;
    text-align: center;
}

main form {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: var(--white);
    padding: 1rem;
    border-radius: .5rem;
}

main form input[type="text"],
main form input[type="password"],
main form input[type="submit"],
main form textarea {
    box-sizing: border-box;
    width: 100%;
    padding: .5rem;
    border: 1px solid var(--dark-gray);
    border-radius: .3rem;
    font-size: 16px;
}

h1 {
    text-align: center;
}

label {
    margin-bottom: .5rem;
    display: block;
}

.form-group {
    margin-bottom: 1rem;
}

input[type="submit"] {
    background-color: var(--ligth-blue);
    color: var(--white);
    font-size: 1rem;
    border: none;
}

.required {
    color: var(--red);
}

@media (min-width: 768px) {

    .main-header div {
        justify-content: space-between;
        margin-bottom: 1rem;
        padding: 1rem;
    }

    .main-header div p {
        margin-bottom: initial;
    }

    .main-header form {
        width: initial;
    }

    .main-header form input[type="search"] {
        width: initial;
    }

    nav .burger-menu {
        display: none;
    }

    nav,
    .login-navbar,
    .site {
        display: flex;
        gap: 1rem;
        padding-left: .5rem;
        padding-right: .5rem;
        padding-bottom: .5rem;
    }

    nav {
        justify-content: space-between;
    }

    main form {
        width: 40%;
        padding: 1.5rem;
    }
}

@media (min-width: 1024px) {
    main form {
        width: 25%;
    }

    main form input[type="submit"] {
        cursor: pointer;
    }

    main form input[type="submit"]:hover {
        background-color: var(--dark-blue);
    }

    .main-header form input[type="search"] {
        width: 180px;
    }

    footer .card-container {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    footer .card-container .fa-solid.fa-user-shield:hover,
    footer .card-container .fa-solid.fa-gift:hover,
    footer .card-container .fa-solid.fa-credit-card:hover {
        color: var(--yellow);
    }
}